:root {
    --colour-player-name-font-size: 2em;

    --board-max-width: calc(100vh - var(--header-size) - var(--colour-player-name-font-size) * 2 - var(--element-padding) * 6);
}

main {
    display: flex;
    flex-direction: row;
}

main > section {
    flex-grow: 1;
    flex-shrink: 1;
}

.colourPlayerName {
    display: block;

    height: 1em;
    max-width: var(--board-max-width);

    padding: calc(var(--element-padding) / 2);

    text-align: center;
    line-height: 1em;
    font-size: var(--colour-player-name-font-size);
}

.board {
    max-width: var(--board-max-width);
}

.statistics {
    --border-spacing: 0.5rem;

    padding: 0 5%;

    text-align: right;
}

.statistics > section:first-child {
    float: left;
}

.statistics > section:last-child {
    float: right;
}

.statistics > h2 {
    margin-right: var(--border-spacing);
}

.statistics > table {
    width: 100%;

    margin-top: calc(var(--element-padding) * 2);

    border-spacing: var(--border-spacing);

    font-size: 2em;
}

.statistics > table > tbody > tr > * {
    min-width: 10%;
}
